*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--fs-root);
}

body {
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-text);
    line-height: var(--lh-text);
    color: var(--clr-slate-600);
    background-color: var(--clr-white);
}

img {
    display: block;
    max-width: 100%;
}

/** Full bleed setup */
.grid {
    --_col-width: calc(1120px + (2 * 2rem));
    display: grid;
    grid-template-columns: 1fr min(100%, var(--_col-width)) 1fr;
}

.grid>* {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / -1;
}

/** Header */
.header {
    padding-block: 3rem 2rem;
    justify-items: center;
}

.banner {
    padding-block: 4rem 3rem;
}

.banner__image {
    width: 100%;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 2rem;
}

.cta__title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-title);
    line-height: var(--lh-title);
    text-align: center;
    color: var(--clr-slate-900);
}

.cta__text {
    max-width: 450px;
    text-align: center;
}

.cta__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/** Buttons */
.button {
    display: block;
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-family: var(--ff-text);
    font-size: var(--fs-btn);
    font-weight: var(--fw-title);
    line-height: var(--lh-text);
    color: var(--clr-white);
    background-color: var(--clr-purple-600);
    border: none;
    border-radius: 2rem;
}

.button:hover,
.button:focus-visible {
    background-color: var(--clr-purple-600-hover);
}

.button--dl {
    background-color: var(--clr-cyan-600);
}

.button--dl:hover,
.button--dl:focus-visible {
    background-color: var(--clr-cyan-600-hover);
}

.button span {
    color: var(--clr-purple-300);
}

.button--dl span {
    color: var(--clr-cyan-300);
}

/** Main */
.main {
    justify-items: center;
    row-gap: 4rem;
    padding-inline: 2rem;
    padding-block: 2rem 4rem;
}

.number {
    position: relative;
    margin-top: 5rem;
    width: 3.5rem;
    aspect-ratio: 1;
    border: 1px solid var(--clr-slate-300);
    border-radius: 50%;
    font-size: var(--fs-btn);
    font-weight: var(--fw-title);
    line-height: 3.5rem;
    text-align: center;
}

.number::before {
    content: '';
    position: absolute;
    top: -5rem;
    left: 50%;
    width: 1px;
    height: 5rem;
    background-color: var(--clr-slate-300);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.gallery__image {
    border-radius: .5rem;
}

.content {
    max-width: 504px;
}

.content__subtitle {
    font-size: var(--fs-h3);
    font-weight: var(--fw-title);
    line-height: var(--lh-title);
    letter-spacing: .25rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-cyan-600);
    margin-bottom: 1rem;
}

.content__title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-title);
    line-height: var(--lh-title);
    text-align: center;
    color: var(--clr-slate-900);
    margin-bottom: 2rem;
    margin-inline: auto;
    max-width: 445px;
}

.content__text {
    text-align: center;
}

/** Footer */
.footer {
    justify-items: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/** CUSTOM FOOTER */
.custom_footer {
    padding: 2rem 1rem;
}

.custom_footer__github,
.custom_footer__info {
    text-align: center;
    color: var(--clr-light);
}

.custom_footer__github {
    margin-bottom: 1rem;
}

.custom_footer__link {
    color: var(--clr-yellow);
    text-decoration: none;
}

.custom_footer__link:hover,
.custom_footer__link:focus-visible {
    text-decoration: underline;
}